html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:42px;}
.vis{display:block;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:48px;margin-top:0;}
.size{min-width:864px;width:864px;min-height:222px;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.colwrapper{line-height:0;}
.pos-4{position:relative;margin-left:39px;margin-top:0;}
.size-2{min-width:795px;width:795px;min-height:222px;}
.size-3{min-width:795px;width:795px;min-height:222px;}
.cont-2{z-index:1;pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:left;}
.font{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:45.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:63.46pt;letter-spacing:normal;}
.vis-3{display:none;vertical-align:top;}
.button:hover{background-color:rgb(130,147,158);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.vis-4{display:inline-block;overflow:hidden;outline:0;}
.vis-5{display:inline-block;vertical-align:top;}
.pos-7{position:relative;margin-left:0;margin-top:-52px;}
.size-6{min-width:795px;width:795px;min-height:52px;}
.cont-4{z-index:4;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;margin-top:4.23pt;margin-bottom:-4.23pt;padding-right:0;text-align:left;}
.font-3{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:15.00pt;font-weight:700;font-style:normal;text-decoration:underline;color:rgb(0,0,0);line-height:29.61pt;letter-spacing:normal;}
.pos-8{position:relative;margin-left:0;margin-top:-3px;}
.size-7{min-width:864px;width:864px;min-height:3px;height:3px;}
.cont-5{z-index:5;border:0;background-color:rgb(184,200,210);}
.pos-9{position:relative;margin-left:54px;margin-top:27px;}
.size-8{min-width:810px;width:810px;min-height:189px;}
.size-9{min-width:204px;width:204px;min-height:189px;height:189px;}
.cont-6{pointer-events:auto;}
.img{position:absolute;left:8px;width:189px;height:189px;top:0;border:0;}
.img-2{left:8px;width:189px;height:189px;top:0;}
.pos-10{position:relative;margin-left:63px;margin-top:0;}
.size-10{min-width:543px;width:543px;min-height:156px;}
.para-3{padding-top:0;text-indent:0;margin-top:-1.18pt;margin-bottom:1.18pt;padding-right:0;text-align:left;}
.font-4{font-family:Arial, Helvetica, sans-serif;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:41.40pt;letter-spacing:normal;}
@media (max-width:959px) {
.pos{margin-top:14px;}
.section{min-width:320px;width:320px;}
.pos-2{margin-left:16px;}
.size{min-width:288px;width:288px;min-height:181px;}
.pos-4{margin-left:6px;}
.size-2{min-width:276px;width:276px;min-height:181px;}
.size-3{min-width:276px;width:276px;min-height:74px;}
.font{font-size:15.00pt;line-height:21.15pt;}
.vis-3{display:inline-block;}
.pos-5{position:relative;margin-left:75px;margin-top:77px;}
.size-4{min-width:88px;width:88px;min-height:30px;}
.cont-3{z-index:6;pointer-events:auto;}
.button{border:0;border-radius:15px;background-color:rgb(38,139,210);}
.size-5{width:88px;height:25px;}
.font-2{font-family:"Helvetica Neue", sans-serif;font-size:12.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:14.65pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:5px;margin-top:0;margin-bottom:0;}
.vis-5{display:none;}
.pos-8{margin-top:-108px;}
.size-7{min-width:288px;width:288px;min-height:1px;height:1px;}
.pos-9{margin-left:15px;margin-top:-82px;}
.size-8{min-width:263px;width:263px;min-height:63px;}
.size-9{min-width:68px;width:68px;min-height:63px;height:63px;}
.img{left:3px;width:63px;height:63px;}
.img-2{left:3px;width:63px;height:63px;}
.pos-10{margin-left:14px;}
.size-10{min-width:181px;width:181px;min-height:52px;}
.para-3{margin-top:-0.39pt;margin-bottom:0.39pt;}
.font-4{font-size:12.00pt;line-height:13.80pt;}
}
